<div style="display: flex; flex-direction: column; width: 400px">
<mat-form-field>
  <mat-label>Textarea formControl</mat-label>
  <textarea
    [formControl]="textAreaControl"
    appTrimOnBlur
    matInput
  ></textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Input formControl</mat-label>
  <input [formControl]="inputControl" appTrimOnBlur matInput/>
</mat-form-field>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Textarea formControlName</mat-label>
      <textarea
        formControlName='textarea'
        appTrimOnBlur
        matInput
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Input formControlName</mat-label>
      <input formControlName='input' appTrimOnBlur matInput/>
    </mat-form-field>
  </form>
</div>
